.card-wrapper {
  height: 100% !important;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  overflow-y: auto;
  overflow: hidden;

}

:host {
  height: 100%;

  display: block;
}

::ng-deep .mat-mdc-card-title {
  font-size: 16px !important;
  cursor: pointer;
}

.card-image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.card-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.add-to-cart-btn {
  position: absolute;
  top: 95%;
  left: 50%;
  width: 100%;
  z-index: 100;
  height: 60px;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* Hide the button initially */
  transition: opacity 0.3s;
  border-radius: 10px;
}

.mat-card:hover {
  opacity: 0.8;

}

.mat-card:hover .add-to-cart-btn {
  opacity: 1;
}

.description-container {
  height: 190px;
  overflow-y: auto
}