.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four items per row */
  grid-gap: 16px; /* Margin between grid items */
  align-items: stretch; /* Make all grid items the same height */
  // height:129px !important


}

.grid-item {
  max-height:400px !important;

  /* Adjust the item's styling as needed */
  /* For example: border: 1px solid #ccc; padding: 16px; */
}
::ng-deep .mdc-slider .mdc-slider__value-indicator {
  transform: none !important;
}


  .grid-container {
    display: grid;
  grid-gap: 16px; /* Margin between grid items */
  align-items: stretch; /* Make all grid items the same height */
  }


   /* Media queries for adjusting fxFlex based on breakpoints */
   @media (min-width: 300px) { /* gt-sm */
    .grid-container {
      grid-template-columns: repeat(1, 1fr); /* Four items per row */
      // padding:40px
    }
  }


  /* Media queries for adjusting fxFlex based on breakpoints */
  @media (min-width: 600px) { /* gt-sm */
    .grid-container {
      grid-template-columns: repeat(2, 1fr); /* Four items per row */
    }
  }

  @media (min-width: 960px) { /* gt-md */
    .grid-container {
      grid-template-columns: repeat(3, 1fr); /* Four items per row */
    }
  }

  @media (min-width: 1280px) { /* gt-lg */
    .grid-container {
      grid-template-columns: repeat(3, 1fr); /* Four items per row */
    }
  }

 

