

  <nav class="sticky-nav" >
  
    <mat-toolbar color="primary" class="container">
      

      <span>Store app</span>
      <span class="example-spacer"></span>


      <div *ngIf="isLoggedIn()" fxLayout="row" fxLayoutGap="10px">
        <div>Welcome (user)</div>

        <button mat-icon-button (click)="onLogout()"   >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      



    </mat-toolbar>
<app-categories-list [list]="categoriesList$ | async"></app-categories-list>
  
</nav>


  