

  <nav class="sticky-nav" >
  
    <mat-toolbar color="primary" class="container">
      

      <span class="cursor-pointer">Store app</span>
      <span class="example-spacer"></span>


      <div *ngIf="isLoggedIn()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <span class="text-15">Welcome {{username}}</span>


        <div *appAdminOnly="isAdmin">  
        
        
          <button mat-flat-button >Switch to user mode</button>

        </div>



        <button mat-icon-button (click)="onLogout()"   >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      



    </mat-toolbar>
    
    <app-categories-list *ngIf="isLoggedIn()" [list]="categoriesList$ | async"></app-categories-list>
  
</nav>


  