

  <nav class="sticky-nav" >
  
    <mat-toolbar color="primary" class="container">
      

      <span class="cursor-pointer">Store app</span>
      <span class="example-spacer"></span>


      <div *ngIf="isLoggedIn()" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <span *ngIf="!isAdmin" class="text-15">Welcome {{username}}</span>


        <!-- appAdminOnly -->
        <div *ngIf="isAdmin">  
      
          <button (click)="switchView()" mat-flat-button >Switch to {{isUserView?'Admin':'User'}} view</button>

        </div>



        <button mat-icon-button (click)="onLogout()"   >
          <mat-icon>logout</mat-icon>
        </button>
      </div>
      



    </mat-toolbar>
    <ng-container *ngIf="isUserView" >
      <app-categories-list *ngIf="isLoggedIn()" [list]="categoriesList$ | async"></app-categories-list>
    </ng-container>
  
</nav>


  