.loaders-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    padding: 40px;
    // justify-content: center;
}